PORT=8090
DB_CONNECTION_STRING=postgresql://postgres:your_password@localhost:5432/ban_ve_su_kien
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
POSTGRES_DB=ban_ve_su_kien

# Demo Credentials for Seed (T-04)
DEMO_ADMIN_EMAIL=admin@example.com
DEMO_ADMIN_PASSWORD=your_demo_admin_password
DEMO_ORGANIZER_EMAIL=organizer@example.com
DEMO_ORGANIZER_PASSWORD=your_demo_organizer_password
