NODE_ENV=development
PORT=8090
APP_BASE_URL=http://localhost:8090

DB_CONNECTION_STRING=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

SMTP_HOST=
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=
